body, html {
    padding: 0;
    margin: 0;
}

html {
    background: black;
}

.fa-brands {
    padding: 20px;
    font-size: 64px;
    width: 64px;
    height: 64px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    display: inline-block;
}

.fa-brands:hover {
    opacity: 80%;
    scale: 1.05;
}

.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    overflow: hidden;
    background: black;
    background-image: url(../asset/Tfotr_keyart.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.main-logo {
    height: 34%;
    padding: 4%;
    margin: auto;
    display: block;
}

h1 {
    padding: 2% 0;
    color: white;
    width: 80%;
    margin: auto;
    display: block;
    text-align: center;
}

.media-links {
    width: fit-content;
    margin: auto;
    display: block;
}